<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Editor</title>
    <link th:href="@{styles/style.css}" rel="stylesheet"/>
</head>
<body>
<a href="/logout">Выйти</a>
<form method="post" action="#" th:action="@{/admin/edit}" th:object="${user}">
    <input hidden="hidden" th:field="*{id}">
    <input hidden="hidden" th:field="*{roles}">
    <label>
        <span>Имя</span>
        <input type="text" th:field="*{username}">
    </label>
    <br/>
    <label>
        <span>Пароль</span>
        <input type="password" placeholder="Оставить без изменений" th:field="*{password}">
    </label>

    <label th:each="r : ${roleList}">
        <br/>
        <span th:text="${r.getName()}"></span>
        <input type="checkbox" th:field="*{roles}" th:value="${r.getId()}">
    </label>

    <input type="submit" value="Обновить"/>
</form>
</body>
</html>