<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editor</title>
    <link th:href="@{styles/style.css}" rel="stylesheet"/>
</head>
<body>
<a href="/logout">Выйти</a>
<form method="post" action="#" th:action="@{/admin/edit}" th:object="${user}">
    <input hidden="hidden" th:field="*{id}">
    <input hidden="hidden" th:field="*{roles}">
    <label>
        <span>Имя</span>
        <input type="text" th:field="*{username}">
    </label>
    <label>
        <span>Пароль</span>
        <input type="password" placeholder="Оставить без изменений" th:field="*{password}">
    </label>
    <input type="submit" value="Обновить"/>
</form>
</body>
</html>