<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>reg</title>
    <link th:href="@{styles/style.css}" rel="stylesheet"/>
</head>
<body>
<form method="post" action="#" th:action="@{/registration}" th:object="${userForm}">
    <label>
        <input type="text" placeholder="Имя" th:field="*{username}">
    </label>
    <label>
        <input type="password" placeholder="Пароль" th:field="*{password}">
    </label>
    <label>
        <select th:field="*{roles}">
            <option th:each="p : ${rolesList}" th:value="${p.getId()}" th:text="${p.getName()}"></option>
        </select>
    </label>
    <input type="submit" value="Создать"/>
    <a href="/">Главная</a>
</form>
</body>
</html>