<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="ru">
<head>
    <meta charset="UTF-8">
    <title>User</title>
        <link th:href="@{styles/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="root h-100">
    <div class="bg-dark d-flex justify-content-between p-2">
        <div class="text-white">
            <b th:text="${#authentication.principal.getEmail()}"></b>
            <span th:text="'with roles: ' + ${#authentication.principal.getRolesName()}"></span>
        </div>
        <div class="text-light">
            <a class="text-white-50" href="/logout">Logout</a>
        </div>
    </div>
    <div class="main h-100 w-100 d-flex">
        <div class="nav w-20 pt-2 bg-white d-flex flex-column">
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="btn text-primary w-100 text-left" href="/admin" role="button">Admin</a>
            </div>
            <div>
                <a class="btn w-100 text-left btn-primary" role="button" href="/user">User</a>
            </div>
        </div>
        <div class="section p-3 w-100">
            <div class="pb-3 col">
                <h2>User information-page</h2>
            </div>
            <div class="tab-content border w-100">
                <div class="tab-pane fade show active w-100" id="list-admin">
                    <div class="title p-3">
                        <h5>About user</h5>
                    </div>
                    <div class="list bg-white p-3">
                        <table class="w-100">
                            <tr class="head font-weight-bold border-bottom border-top">
                                <td>ID</td>
                                <td>First Name</td>
                                <td>Last Name</td>
                                <td>Age</td>
                                <td>Email</td>
                                <td>Role</td>
                            </tr>
                            <tr>
                                <td th:text="${#authentication.principal.getId()}">3</td>
                                <td th:text="${#authentication.principal.getFirstname()}">user</td>
                                <td th:text="${#authentication.principal.getLastname()}">user</td>
                                <td th:text="${#authentication.principal.getAge()}">30</td>
                                <td th:text="${#authentication.principal.getEmail()}">user@mail.ru</td>
                                <td th:text="${#authentication.principal.getRolesName()}">USER</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>