html,
body,
.root {
    background-color: rgb(248, 249, 250);
}

.w-20 {
    width: 20vw;
}

/*input,*/
label {
    width: 100%;
    font-weight: 700;
    text-align: center;
}

td {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #eee;
}

a {
    cursor: pointer;
}